# Server Port
PORT=5000

# Official Clash of Clans REST API Token (Get from https://developer.clashofclans.com/)
COC_API_TOKEN=#Your COC_API_TOKEN

# Default Player & Clan Tags for initial dashboard load (include # symbol or plain tag)
DEFAULT_PLAYER_TAG=#2PP0LP0C
DEFAULT_CLAN_TAG=#2Y8LJR80
