# Server Port
PORT=5000

# Official Clash of Clans REST API Token (Get from https://developer.clashofclans.com/)
COC_API_TOKEN=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiIsImtpZCI6IjI4YTMxOGY3LTAwMDAtYTFlYi03ZmExLTJjNzQzM2M2Y2NhNSJ9.eyJpc3MiOiJzdXBlcmNlbGwiLCJhdWQiOiJzdXBlcmNlbGw6Z2FtZWFwaSIsImp0aSI6IjkyOGE0ZmE1LTg2MzItNDBkYi1hMWMwLWY4YmU0N2ViYmRmYyIsImlhdCI6MTc4Nzk0MjU4Nywic3ViIjoiZGV2ZWxvcGVyL2I1Njc2MWZlLWY0ZTEtNGJjMS05N2ZkLTM1YzFkOGNhMmYzNiIsInNjb3BlcyI6WyJjbGFzaCJdLCJsaW1pdHMiOlt7InRpZXIiOiJkZXZlbG9wZXIvc2lsdmVyIiwidHlwZSI6InRocm90dGxpbmcifSx7ImNpZHJzIjpbIjE4Mi42OS4xNzkuMjYiXSwidHlwZSI6ImNsaWVudCJ9XX0.A41m2Z0Xh2h6_w75XdO0lLaueLsb5lW38IqxGnfi02K_mEaz4eAY66j4J-iMEV4UAwiAktfeeiRA0jrRaznaTA

# Default Player & Clan Tags for initial dashboard load (include # symbol or plain tag)
DEFAULT_PLAYER_TAG=#2PP0LP0C
DEFAULT_CLAN_TAG=#2Y8LJR80
